<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Challenge-3" data-toc-modified-id="Challenge-3-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Challenge 3</a></span><ul class="toc-item"><li><span><a href="#Q1:-How-to-identify-VIP-&amp;-Preferred-Customers?" data-toc-modified-id="Q1:-How-to-identify-VIP-&amp;-Preferred-Customers?-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Q1: How to identify VIP &amp; Preferred Customers?</a></span></li><li><span><a href="#How-to-label-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?" data-toc-modified-id="How-to-label-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>How to label customers whose aggregated <code>amount_spent</code> is in a given quantile range?</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Sub-Problem-1:-How-to-aggregate-the--amount_spent-for-unique-customers?" data-toc-modified-id="Sub-Problem-1:-How-to-aggregate-the--amount_spent-for-unique-customers?-1.2.0.1"><span class="toc-item-num">1.2.0.1&nbsp;&nbsp;</span>Sub Problem 1: How to aggregate the  <code>amount_spent</code> for unique customers?</a></span></li><li><span><a href="#Sub-Problem-2:-How-to-select-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?" data-toc-modified-id="Sub-Problem-2:-How-to-select-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?-1.2.0.2"><span class="toc-item-num">1.2.0.2&nbsp;&nbsp;</span>Sub Problem 2: How to select customers whose aggregated <code>amount_spent</code> is in a given quantile range?</a></span></li><li><span><a href="#Sub-Problem-3:-How-to-label-selected-customers-as-&quot;VIP&quot;-or-&quot;Preferred&quot;?" data-toc-modified-id="Sub-Problem-3:-How-to-label-selected-customers-as-&quot;VIP&quot;-or-&quot;Preferred&quot;?-1.2.0.3"><span class="toc-item-num">1.2.0.3&nbsp;&nbsp;</span>Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?</a></span></li></ul></li></ul></li><li><span><a href="#Q2:-How-to-identify-which-country-has-the-most-VIP-Customers?" data-toc-modified-id="Q2:-How-to-identify-which-country-has-the-most-VIP-Customers?-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Q2: How to identify which country has the most VIP Customers?</a></span></li><li><span><a href="#Q3:-How-to-identify-which-country-has-the-most-VIP+Preferred-Customers-combined?" data-toc-modified-id="Q3:-How-to-identify-which-country-has-the-most-VIP+Preferred-Customers-combined?-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Q3: How to identify which country has the most VIP+Preferred Customers combined?</a></span></li></ul></li></ul></div>

# Challenge 3

In this challenge we will work on the `Orders` data set (https://drive.google.com/file/d/1xUzMpyQgC5IaK61ehUH2C5P4jCPmLa-s/view?usp=sharing). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Data Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [3]:
# your code here
df = pd.read_csv('../dev/Orders.csv')
df.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [8]:
# your code here
total_by_cus = df.groupby(by = ['CustomerID']).sum()
total_by_cus

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
CustomerID,,,,,,,,,
12346,61619,541431,2011,1,2,10,74215,1.04,77183.60
12347,42441700,101296926,365971,1383,441,2219,2458,481.21,4310.00
12348,2807120,16869685,62324,257,111,472,2341,178.71,1797.24
12349,35444274,42165457,146803,803,73,657,631,605.10,1757.55
12350,1365627,9231629,34187,34,51,272,197,65.30,334.40
...,...,...,...,...,...,...,...,...,...
18280,1110495,5457120,20110,30,10,90,45,47.65,180.60
18281,1560699,3895248,14077,42,49,70,54,39.36,80.82
18282,4642134,6838540,24132,116,60,146,103,62.39,178.05
18283,233950830,425704048,1520316,5503,2489,10346,1397,1220.93,2094.88
18287,21958901,39474556,140770,555,332,697,1586,104.55,1837.28

In [14]:
tier_labels=["normal","preferred","vip"]
bins = pd.qcut(total_by_cus['amount_spent'], q=[0, 0.75, 0.95, 1], labels=tier_labels)
bins

CustomerID
12346          vip
12347    preferred
12348    preferred
12349    preferred
12350       normal
           ...
18280       normal
18281       normal
18282       normal
18283    preferred
18287    preferred
Name: amount_spent, Length: 4339, dtype: category
Categories (3, object): ['normal' < 'preferred' < 'vip']

In [24]:
total_by_cus['customer_tier'] = bins
total_by_cus

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,customer_tier
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,NaN
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,NaN
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,NaN
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,NaN
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,541904,581587,22613,2011,12,5,12,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20,NaN
397920,541905,581587,22899,2011,12,5,12,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60,NaN
397921,541906,581587,23254,2011,12,5,12,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60,NaN
397922,541907,581587,23255,2011,12,5,12,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60,NaN
397923,541908,581587,22138,2011,12,5,12,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85,NaN

In [26]:
df.drop(['customer_tier'], axis=1)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,541904,581587,22613,2011,12,5,12,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20
397920,541905,581587,22899,2011,12,5,12,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60
397921,541906,581587,23254,2011,12,5,12,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397922,541907,581587,23255,2011,12,5,12,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397923,541908,581587,22138,2011,12,5,12,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [58]:
# your code here
df_merge = df.merge(total_by_cus, how='left', on='CustomerID')
df_merge.columns

# df_merge.query('customer_tier_y == "vip"') => also works

df_vip = df_merge[df_merge['customer_tier_y'] == "vip"]
df_vip_grp = df_vip.groupby(by = ['Country']).count()
df_vip_grp.sort_values(by=['InvoiceNo_x'], ascending=False)

,Unnamed: 0_x,InvoiceNo_x,StockCode,year_x,month_x,day_x,hour_x,Description,Quantity_x,InvoiceDate,...,Unnamed: 0_y,InvoiceNo_y,year_y,month_y,day_y,hour_y,Quantity_y,UnitPrice_y,amount_spent_y,customer_tier_y
Country,,,,,,,,,,,,,,,,,,,,,
United Kingdom,84185,84185,84185,84185,84185,84185,84185,84185,84185,84185,...,84185,84185,84185,84185,84185,84185,84185,84185,84185,84185
EIRE,7077,7077,7077,7077,7077,7077,7077,7077,7077,7077,...,7077,7077,7077,7077,7077,7077,7077,7077,7077,7077
France,3290,3290,3290,3290,3290,3290,3290,3290,3290,3290,...,3290,3290,3290,3290,3290,3290,3290,3290,3290,3290
Germany,3127,3127,3127,3127,3127,3127,3127,3127,3127,3127,...,3127,3127,3127,3127,3127,3127,3127,3127,3127,3127
Netherlands,2080,2080,2080,2080,2080,2080,2080,2080,2080,2080,...,2080,2080,2080,2080,2080,2080,2080,2080,2080,2080
Australia,898,898,898,898,898,898,898,898,898,898,...,898,898,898,898,898,898,898,898,898,898
Portugal,681,681,681,681,681,681,681,681,681,681,...,681,681,681,681,681,681,681,681,681,681
Switzerland,594,594,594,594,594,594,594,594,594,594,...,594,594,594,594,594,594,594,594,594,594
Spain,511,511,511,511,511,511,511,511,511,511,...,511,511,511,511,511,511,511,511,511,511
Norway,420,420,420,420,420,420,420,420,420,420,...,420,420,420,420,420,420,420,420,420,420
Channel Islands,364,364,364,364,364,364,364,364,364,364,...,364,364,364,364,364,364,364,364,364,364
Finland,294,294,294,294,294,294,294,294,294,294,...,294,294,294,294,294,294,294,294,294,294
Cyprus,248,248,248,248,248,248,248,248,248,248,...,248,248,248,248,248,248,248,248,248,248
Singapore,222,222,222,222,222,222,222,222,222,222,...,222,222,222,222,222,222,222,222,222,222
Japan,205,205,205,205,205,205,205,205,205,205,...,205,205,205,205,205,205,205,205,205,205
Sweden,198,198,198,198,198,198,198,198,198,198,...,198,198,198,198,198,198,198,198,198,198
Belgium,54,54,54,54,54,54,54,54,54,54,...,54,54,54,54,54,54,54,54,54,54
Denmark,36,36,36,36,36,36,36,36,36,36,...,36,36,36,36,36,36,36,36,36,36

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [62]:
# your code here
df_vip_pre = df_merge[df_merge['customer_tier_y'] != 'normal']
df_vip_pre

df_vip_pre_grp = df_vip_pre.groupby(by = ['Country']).count()
df_vip_pre_grp.sort_values(by=['InvoiceNo_x'], ascending=False)

,Unnamed: 0_x,InvoiceNo_x,StockCode,year_x,month_x,day_x,hour_x,Description,Quantity_x,InvoiceDate,...,Unnamed: 0_y,InvoiceNo_y,year_y,month_y,day_y,hour_y,Quantity_y,UnitPrice_y,amount_spent_y,customer_tier_y
Country,,,,,,,,,,,,,,,,,,,,,
United Kingdom,221635,221635,221635,221635,221635,221635,221635,221635,221635,221635,...,221635,221635,221635,221635,221635,221635,221635,221635,221635,221635
Germany,7349,7349,7349,7349,7349,7349,7349,7349,7349,7349,...,7349,7349,7349,7349,7349,7349,7349,7349,7349,7349
EIRE,7238,7238,7238,7238,7238,7238,7238,7238,7238,7238,...,7238,7238,7238,7238,7238,7238,7238,7238,7238,7238
France,6301,6301,6301,6301,6301,6301,6301,6301,6301,6301,...,6301,6301,6301,6301,6301,6301,6301,6301,6301,6301
Netherlands,2080,2080,2080,2080,2080,2080,2080,2080,2080,2080,...,2080,2080,2080,2080,2080,2080,2080,2080,2080,2080
Spain,1569,1569,1569,1569,1569,1569,1569,1569,1569,1569,...,1569,1569,1569,1569,1569,1569,1569,1569,1569,1569
Belgium,1557,1557,1557,1557,1557,1557,1557,1557,1557,1557,...,1557,1557,1557,1557,1557,1557,1557,1557,1557,1557
Switzerland,1370,1370,1370,1370,1370,1370,1370,1370,1370,1370,...,1370,1370,1370,1370,1370,1370,1370,1370,1370,1370
Portugal,1093,1093,1093,1093,1093,1093,1093,1093,1093,1093,...,1093,1093,1093,1093,1093,1093,1093,1093,1093,1093
Norway,1028,1028,1028,1028,1028,1028,1028,1028,1028,1028,...,1028,1028,1028,1028,1028,1028,1028,1028,1028,1028
Australia,1028,1028,1028,1028,1028,1028,1028,1028,1028,1028,...,1028,1028,1028,1028,1028,1028,1028,1028,1028,1028
Channel Islands,589,589,589,589,589,589,589,589,589,589,...,589,589,589,589,589,589,589,589,589,589
Italy,507,507,507,507,507,507,507,507,507,507,...,507,507,507,507,507,507,507,507,507,507
Finland,504,504,504,504,504,504,504,504,504,504,...,504,504,504,504,504,504,504,504,504,504
Cyprus,451,451,451,451,451,451,451,451,451,451,...,451,451,451,451,451,451,451,451,451,451
Sweden,273,273,273,273,273,273,273,273,273,273,...,273,273,273,273,273,273,273,273,273,273
Japan,272,272,272,272,272,272,272,272,272,272,...,272,272,272,272,272,272,272,272,272,272
Singapore,222,222,222,222,222,222,222,222,222,222,...,222,222,222,222,222,222,222,222,222,222
Denmark,217,217,217,217,217,217,217,217,217,217,...,217,217,217,217,217,217,217,217,217,217
Israel,214,214,214,214,214,214,214,214,214,214,...,214,214,214,214,214,214,214,214,214,214
Iceland,182,182,182,182,182,182,182,182,182,182,...,182,182,182,182,182,182,182,182,182,182
Austria,158,158,158,158,158,158,158,158,158,158,...,158,158,158,158,158,158,158,158,158,158
Poland,149,149,149,149,149,149,149,149,149,149,...,149,149,149,149,149,149,149,149,149,149
Canada,135,135,135,135,135,135,135,135,135,135,...,135,135,135,135,135,135,135,135,135,135
Malta,67,67,67,67,67,67,67,67,67,67,...,67,67,67,67,67,67,67,67,67,67
Lebanon,45,45,45,45,45,45,45,45,45,45,...,45,45,45,45,45,45,45,45,45,45
Greece,32,32,32,32,32,32,32,32,32,32,...,32,32,32,32,32,32,32,32,32,32